.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  margin: 50px auto;
  min-height: 60px;
}

.App-main {
  display: flex;
}

.App-sidebar {
  margin-right: 20px;
  width: 250px;
}
.App-content {
  width: 500px;
}